<a href="https://colab.research.google.com/github/genaicodealchemy/python-basics/blob/main/LoopsBreak_and_Continue_statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Loops

In [1]:
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello

In [3]:
# 1. For Loops (You have idea how many time you are going to run the loop)
for i in range(1,6):
  print("Hello ")

Hello
Hello
Hello
Hello
Hello

In [4]:
# Take the numbers from the user
n = int(input("Enter the total numbers you want in the list "))
l = []
for i in range(1,(n+1)):
  num = int(input("Enter the number you wish to add "))
  l.append(num)

Enter the total numbers you want in the list 5
Enter the number you wish to add 5
Enter the number you wish to add 2
Enter the number you wish to add 3
Enter the number you wish to add 4
Enter the number you wish to add 5

In [5]:
l

[5, 2, 3, 4, 5]

In [8]:
l =[]
for i in range(1,51,1):
  print(i)
  l.append(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [7]:
len(l)

50

In [9]:
for j in range(1,10,2):
  print(j)

1
3
5
7
9

In [10]:
for j in range(0, 11, 2):
  print(j)

0
2
4
6
8
10

In [11]:
# j = 0
# j < stop
# perform steps inside for loop
# Increment takes place for J + step ()
# j < stop

In [12]:
for i in range(1,6):
  for j in range(1,6):
    print("Value of I ", i)
    print("Value of J ", j)
  print("------------")

Value of I  1
Value of J  1
Value of I  1
Value of J  2
Value of I  1
Value of J  3
Value of I  1
Value of J  4
Value of I  1
Value of J  5
------------
Value of I  2
Value of J  1
Value of I  2
Value of J  2
Value of I  2
Value of J  3
Value of I  2
Value of J  4
Value of I  2
Value of J  5
------------
Value of I  3
Value of J  1
Value of I  3
Value of J  2
Value of I  3
Value of J  3
Value of I  3
Value of J  4
Value of I  3
Value of J  5
------------
Value of I  4
Value of J  1
Value of I  4
Value of J  2
Value of I  4
Value of J  3
Value of I  4
Value of J  4
Value of I  4
Value of J  5
------------
Value of I  5
Value of J  1
Value of I  5
Value of J  2
Value of I  5
Value of J  3
Value of I  5
Value of J  4
Value of I  5
Value of J  5
------------

In [13]:
# Patterns
#
##
###
####
#####
######

In [17]:
# rows and Columns
rows = 5
columns = 5
# 5-0=5 , 6-1=5
for i in range(1,6):
  for j in range(1, (i+1)):
    print("*", end = ' ')
  print()

*
* *
* * *
* * * *
* * * * *

# How to print below pattern


```
# This is formatted as code
1
12
123
1234
12345
```

In [42]:
rows = 5
columns = 5
for i in range(1,6):
  for j in range(1, (i+1)):
    print("1", end = ' ')
  print()

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

In [21]:
# access the values in the list
l = [1,2,3,4,5]

for i in range(0,len(l)):
  print(l[i])
  l[i] = l[i] ** 2
print(l)

1
2
3
4
5
[1, 4, 9, 16, 25]

In [22]:
# while loop
# are aplied wherever you don't know
# How many times you are going to run the loop

In [26]:
ch = 'y'
while(ch == 'y'):
  print("Let's play the game")
  ch = input("Enter your choice to play the game y/n ")

Let's play the game
Enter your choice to play the game y/n y
Let's play the game
Enter your choice to play the game y/n y
Let's play the game
Enter your choice to play the game y/n y
Let's play the game
Enter your choice to play the game y/n y
Let's play the game
Enter your choice to play the game y/n y
Let's play the game
Enter your choice to play the game y/n n

In [27]:
num = 1
while(num <= 10):
  print(num)
  num = num + 1

1
2
3
4
5
6
7
8
9
10

Break and Continue statements

In [34]:
val = int(input("Enter a number: "))
num = 1
while(num <= 10):
  if(num == val):
    break
  else:
    print(num)
  num = num + 1

Enter a number: 5
1
2
3
4

In [35]:
val = int(input("Enter a number: "))
num = 1
while(num <= 10):
  if(num == val):
    continue
  else:
    print(num)
  num = num + 1

Enter a number: 5
1
2
3
4

KeyboardInterrupt:

In [38]:
val = 3
for i in range(1,11):
  if(i == val):
    continue
  else:
    print(i)

1
2
4
5
6
7
8
9
10